@font-face {
  font-family: "Nova";
  src: url("../fonts/SinaNovaReg-webfont.woff2") format("woff2"),
    url("../fonts/SinaNovaReg-webfont.woff") format("woff");
}

html,body {
    overscroll-behavior-y: none;
}

body {
  overflow-y: hidden;
  height: 100vh;
  background-color: #2c1605;
}

p {
  font-family: "Nova", sans-serif;
  color: #d7d7d0;
}

strong {
  color: white;
}

.kim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kim-portrait {
  width: 50%;
  margin-top: 15px;
  border-radius: 25%;
}

.dialogue-background {
  background-color: black;
  width: 80%;
  margin: 50px 10px 0px 10px;
  padding: 20px 15px 25px 15px;
}

.text-load {
  animation: DialogeLoadIn 0.5s;
}

button {
  position: fixed;
  top: 70vh;
  left: 0;
  right: 0;
  width: 250px;
  margin: 5% auto;
  font-family: "Nova", sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  background-color: black;
  color: #bc5836;
  border: none;
}

button:hover {
  cursor: pointer;
  color: #eb6133;
}

@keyframes DialogeLoadIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 600px) {
  .dialogue-background {
      width: 50%;
  }
  .kim-portrait {
    width: 25%;
  }
  
  button {
      top: 75vh;
  }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 14px;
    }
    button {
        top: 85vh;
    }
}
